body{
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navigation-bar {
  margin-top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 12%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: white;
  border-bottom: 2px solid #6a4c93;
}



.liens {
  display: flex;
  flex-direction: row;
  margin-right: 20%;
}

.liens a{
  color: gray;
  margin: 0 5%;
  padding-bottom: 1.5%;
  font-size: 25px;
}

.liens a:hover{
  transition: 0.25s ease-in-out;
  color: purple;
  border-bottom: 1px solid purple;
}

li{
  list-style: none;
}

.titre-navBar{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 1% 2% 2% 2% ;
  color: black;
}
  
  html{
    scroll-behavior: smooth;
  }

 .container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4% 10% ;
  }

  .container-contact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    border: 5px solid white;
    padding: 50px;
    gap: 100px;

  }
  section.home, section.about{
    height: 100vh;
    width: 100%;
    background-image: url('./src/giphy.gif');
    background-size: cover;
    background-position: center;
    opacity: 1;
  }

  section.contact{
    height: 100vh;
    width: 100%;
  }


  .formulaire-contact {
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid #31004a;
    width: 25%;
}


input{
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 0.5px solid black;
  font-size: 18px;
}

textarea{
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 0.5px solid black;
  height: 200px;
  font-size: 18px;
}

.simple-texte{
  color: #31004a;
  font-size: 12px;
}

.color-button1{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.color-button2{
  background-color: white;
  color: #31004a;
  border: 1px solid #31004a;
}

.color-button2:hover{
  background-color: #31004a;
  border: 1px solid white;
  transition: 0.1s ease-in-out;
  color: white;
}

.color-button1:hover{
  background-color: #31004a;
  border: 1px solid white;
  transition: 0.1s ease-in-out;
  color: white;
}

  .button-styled{    
    font-size: 20px;
    padding: 3% 8%;
    margin-top:3%;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3 ease;
  }

  .titre-home{
    font-size: 70px;
    color: white;
  }
  .text-home{
    font-size: 25px;
    color: white;
  }

  h1{
    font-size: 50px;
    color: black;
  }
  section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  a{
  text-decoration: none;
  }

  h2{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
  }

  label{
    font-size: 12px;
    color: black;
    margin-bottom: 0px;
    font-weight: 900;
  }

  .required{
    color:red;
    font-weight:bold;
  }

  .coordonnes{
    margin: 20px;
    margin-left: 200px;
    background-color: lightgray;
    padding: 70px;
    border: 1px solid #31004a
  }

  .mail-adress{
    color: #31004a;
    text-decoration:underline;
    padding-left: 10px;
  }

  .social-icon{
    margin-left: 5px;
    margin-right: 5px;
    color: #31004a;
  }

  .short-button{
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .footer {
    background-color: #31004a;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .row-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .about-col1, .about-col2{
    margin-top: 7%;
    box-sizing: border-box;
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }

  .about-col1{
    flex-basis: 35%;
    margin-left: 5%;
  }
  .about-col2{
    flex-basis: 55%;
    padding: 2% 3%; margin-right: 3%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    border: 3px solid #d51d81;
  }
  

  .photo-about{
    width: 100%;
    border: 5px solid #d51d81;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .container-about{
    border-top: 10px solid white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    border: 1px solid gray;
  }

  .title-about{
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
  }

  .tab-titles{
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    gap: 5%;
  }

  .tab-links{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }

  .tab-links::after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #d51d81;
    transition: 0.3s ease;
  }

  .tab-links.active-link::after{
    color: #d51d81;
    width: 50%;
    border-bottom: 1px solid #d51d81;
    visibility: visible;
  }

  .tab-contents ul li{
    font-size: 16px;
    margin-bottom: 3%;
    list-style: none;
    color: lightgray;
  }

  .tab-contents ul li span{
    color: #d51d81;
    font-size: 18px;
  }

  .tab-contents{
    display: none;
  }

  .tab-contents.active-content{
    display: block;
  }

  

  